body {
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem;  
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:  #FFF5AC;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top:30px;
}

.back-icon {
    margin-right: 25px;
    width: 90px;
    height: 90px;
    object-fit: contain;
}

h1 {
    font-size: 80px;  
    font-weight: 900; 
    color: #FFBD59;
    margin-left: 25%;
}

label {
    font-size: 35px;  
    font-weight: 450; 
    margin: 0;
    color: #c1e493;
    margin-right: 25px  ;
}

input {
    border-radius: 50px;
    padding: 0px 15px;
}

.main-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}

.client-info {
    display: flex;
    flex-direction: column;
}

.client, .city {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.order-description input {
    height: 100px;
    width: 300px;
}


.order-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 8%;
}

.product, .product-type {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.price-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.price-info input {
    width:80px;
    margin-right: 25px;
}

.payment-method {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.vertical-line {
    border-left: 1px solid rgba(199, 198, 198, 0.521); 
    height: 350px;
    margin-bottom: 5px;                         
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-info {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.date-info input {
   border: none;
}

.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-ok {
    background-color: #FFBD59;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-left: 2px;
}

.btn-ok:hover {
    background-color: #df9f3e;
}

.btn-cancel {
    background-color: #da4949;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
    
}

.btn-cancel:hover {
    background-color: #bd3838;
}